@font-face {
    font-family: atariFont;
    src: url(assets/AtariClassic-Regular.ttf);
}

#text {
    text-align: center;
    font-family: 'atariFont';
    color: darkgray;
}

#game {
    text-align: center;
}